<!-- Footer -->
<footer class="footer p-4 mt-5" style="width: 85%">
  <div class="row align-items-center justify -content-xl-between">
    <div class="col-xl-6">
      <div class="text-center text-xl-left text-light">
        <a
          target="_blank"
         
          class="font-weight-bold ml-1"
          >Crowd Funding </a
        >
      </div>
    </div>
    <div class="col-xl-6">
      <div class="text-center text-xl-right text-light">
        {% comment %} <a
          
        >
          &copy; ITI - Coded by:
        </a> {% endcomment %}
        <a target="_blank" href="#">Masozera Victor</a>.
      </div>
    </div>
  </div>
</footer>
